name: build

on: [push, pull_request]

env:
  RUSTFLAGS: --deny warnings

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain: [stable, beta, nightly]

    steps:
    - uses: actions/checkout@v2

    - name: Setup Rust
      run: |
        rustup set profile default
        rustup toolchain install ${{ matrix.toolchain }}
        rustup override set ${{ matrix.toolchain }}

    - name: Rustfmt
      run: cargo fmt -- --check

    - name: Clippy
      run: cargo clippy --workspace --all-targets

    - name: Test
      run: |
        cargo test --workspace --all-targets
        cargo test --workspace --doc

  generated:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Rust
      run: |
        rustup set profile minimal
        rustup toolchain install stable
        rustup override set stable

    - name: Check generated code is up to date
      run: |
        cargo run --package generate
        git diff --exit-code -- src/generate.rs

  publish:
    needs: [generated, test]
    if: startsWith(github.ref, 'refs/tags/')

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Calculate version from tag
        id: version
        run: echo "::set-output name=value::${GITHUB_REF#refs/tags/}"

      - name: Check tag against package versions
        run: grep '^version = "${{ steps.version.outputs.value }}"$' Cargo.toml

      - name: Setup Rust
        run: |
          rustup set profile minimal
          rustup toolchain install stable
          rustup override set stable

      - name: Publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
        run: cargo publish
